@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto
}

.row {
    display: flex;
    text-decoration: row;
    flex-wrap: wrap;
    padding-left: 12px;
    padding-right: 12px;
}

.bg-blue {
    background-color: #2f1893;
}

.min-100vh {
    min-height: 100vh;
}

.ff_poppins {
    font-family: 'poppins', sans-serif;
}

.justify-content-center {
    justify-content: center;
}

.btn {
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background-color: #482be7;
    border: none;
    margin-left: 20px;
}

.text_white {
    color: white;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.ml-20 {
    margin-left: 20px;
}

.w-100 {
    width: 100%;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text_white {
    color: white;
}

.text_white {
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
}

.pagelogo {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.2926828861236572px;
    text-align: center;
    color: #FFFFFF;
}

.para {
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    /* padding-top: 250px; */
}

.max-w-607 {
    max-width: 607px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.grow-1 {
    flex-grow: 1;
}

.flex-column {
    flex-direction: column;
}

.pt-300 {
    padding-top: 300px;
}

.pl-300 {
    padding-left: 300px;
}

.pt-500 {
    padding-top: 300px;
}

.form {
    border: 2px solid grey;
    /* width: 350px;
    height: 60px; */
    padding: 12px 12px;
    border-radius: 100px;
    opacity: 0.20000000298023224px;
    background-color: #2f1893;
}

.sendbtn {
    width: 120px;
    height: 60px;
    border-radius: 30px;
    background: #25DAC5;
    margin-left: 10px;

}

.ff-send {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.25px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.text-2 {
    font-family: 'Poppins' sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.25px;
    text-align: center;
    margin-top: 73px;
}

.text-1 {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 73px;
}

.pl-24 {
    padding-left: 24px;
}

.lastline {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: gray;
    padding-top: 32px;

}